<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - Swig Tiny-CMS Example</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/github.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.1.1-1/css/simplex/bootstrap.min.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">Swig Tiny-CMS Example</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="https://github.com/kooba/swig-tiny-cms" target="_blank">GitHub</a>
        </li>
        <li>
          <a href="/refresh" title="Reset content of this page to original.">Refresh Content <span class="glyphicon glyphicon-refresh"></span></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-top: 10px">
        {% if req.isAuthenticated() %}
        <li>
          <span style="padding: 0 10px 0 10px;">Hello {{ req.user.name  }}!</span>
        </li>
        <li>
            <form action="/logout" method="post">
              <button type="submit" class="btn btn-info btn-xs">Logout</button>
            </form>
        </li>
        {% else %}
        <li>
          <span style="padding: 0 10px 0 10px;">Please login to edit content <span class="glyphicon glyphicon-chevron-right"></span> </span>
        </li>
        <li>
          <form action="/login" method="post">
            <input type="hidden" name="email" value="admin@admin.com" />
            <input type="hidden" name="password" value="password" />
            <button type="submit" class="btn btn-info btn-xs">Login</button>
          </form>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
<div class="container">

  <div class="jumbotron">
    {% block jumbotron %}{% endblock %}
  </div>
  {% block body %}{% endblock %}

  <!-- Site footer -->
  <div class="footer">
    <p>&copy; <a href="https://twitter.com/JakubBorys" target="_blank">Jakub Borys</a> </p>
  </div>

</div> <!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!-- highlight.js for Mardown code highlighting. More on: http://highlightjs.org/ -->
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<!-- Initialize highlight.js -->
<script>hljs.initHighlightingOnLoad();</script>
{% if googleAnalytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ googleAnalytics }}', 'swig-tiny-cms.herokuapp.com');
  ga('send', 'pageview');

</script>
{% endif %}
</body>
</html>
