<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{% block title %}{% endblock %} - Example</title>
  <link rel="stylesheet" title="Default" href="//bootswatch.com/journal/bootstrap.css">
  <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
  <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body style="margin: 50px 200px 50px 200px;">
<header>
  <h1>{% block title %}{% endblock %}</h1>
  {% block header %}{% endblock %}
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
<div style="margin-bottom: 30px;">
  <div style="float: left;margin-right: 10px">
    <form action="/login" method="post">
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
  <div style="float: left;">
    <form action="/logout" method="post">
      <button type="submit" class="btn btn-primary">Logout</button>
    </form>
  </div>
</div>
<br/>
<div>
  <section role="main">
    {% block body %}{% endblock %}
  </section>
</div>

</body>
</html>