##Installation

```sh
npm install swig-tiny-cms --save
```

##Configuration

Require Swig CMS
```js
var swigCms = require('swig-tiny-cms');
```

After typical Express and Swig configuration, provide a way for Swig Tiny-CMS to know when user is authorized to edit content via middleware.

```js
app.use(function(req, res, next){
  swigCms.isAdmin(req.isAuthenticated());
  next();
});
```

Declare Swig Tiny-CMS options:

```javascript
var options = {

  //content directory is required
  //should be shared directory when used in cluster
  contentDirectory: __dirname + '/content/',

  //optional array of custom CSS files to be used in editor
  css: ['/css/custom.css'],

  //optional marked.js options
  //more info: https://github.com/chjj/marked
  markedOptions: { breaks: true }

};
```

Initialize Swig CMS

```js
swigCms.initialize(swig, app, options);
```